/**
WooCommerce Report Modifier admin.scss
**/

// SASS Variables
$background-header: lightgray;
$label-color: gray;

// CSS Rules
.woocommerce-reports-wide {
    .above_table {

        display: block;

        .inline_box {
            display: inline-block;
            margin-right: 1em;
            vertical-align: top;
        }

        #export_csv {
            .button {
                .dashicons-download {
                    vertical-align: middle;
                }
            }
        }
    }

    .customer_list {
        border-collapse: collapse;
        th, td {
            padding: 0.25em;
        }

        .order_header {
            font-weight: bold;
            background-color: $background-header;
            border-bottom: solid 1px black;

            .order_date {
                text-align: right;
            }
        }

        .order_id.line_above {
            border-top: solid 1px black;
        }

        .order_line_items {
            .name {
                &.with-details {
                    vertical-align: top;
                }
            }
        }

        .wc-order-item-sku {
            font-weight: 600;
        }
    }

    .submenu {
        display: block;
        div {
            &.sort_options {
                //display: flex;
                //justify-content: flex-start;
                span {
                    flex: 1 0 auto;
                    color: $label-color;
                }
                ul {
                    flex: 3 0 auto;
                    display: inline-flex;
                    justify-content: flex-start;
                    margin: 0;

                    &.subsubsub {
                        float: none;
                    }

                    li {
                        flex: 1 1 auto;
                        margin: 0 2em 0 0;
                        &:last-of-type {
                            margin: 0;
                        }

                        a {
                            text-decoration: none;

                            &.active {
                                font-weight: bold;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

