/**
WooCommerce Report Modifier admin.scss
**/
.woocommerce-reports-wide .above_table {
  display: block; }
  .woocommerce-reports-wide .above_table .inline_box {
    display: inline-block;
    margin-right: 1em;
    vertical-align: top; }
  .woocommerce-reports-wide .above_table #export_csv .button .dashicons-download {
    vertical-align: middle; }
.woocommerce-reports-wide .customer_list {
  border-collapse: collapse; }
  .woocommerce-reports-wide .customer_list th, .woocommerce-reports-wide .customer_list td {
    padding: 0.25em; }
  .woocommerce-reports-wide .customer_list .order_header {
    font-weight: bold;
    background-color: lightgray;
    border-bottom: solid 1px black; }
    .woocommerce-reports-wide .customer_list .order_header .order_date {
      text-align: right; }
  .woocommerce-reports-wide .customer_list .order_id.line_above {
    border-top: solid 1px black; }
  .woocommerce-reports-wide .customer_list .order_line_items .name.with-details {
    vertical-align: top; }
  .woocommerce-reports-wide .customer_list .wc-order-item-sku {
    font-weight: 600; }
.woocommerce-reports-wide .submenu {
  display: block; }
  .woocommerce-reports-wide .submenu div.sort_options span {
    flex: 1 0 auto;
    color: gray; }
  .woocommerce-reports-wide .submenu div.sort_options ul {
    flex: 3 0 auto;
    display: inline-flex;
    justify-content: flex-start;
    margin: 0; }
    .woocommerce-reports-wide .submenu div.sort_options ul.subsubsub {
      float: none; }
    .woocommerce-reports-wide .submenu div.sort_options ul li {
      flex: 1 1 auto;
      margin: 0 2em 0 0; }
      .woocommerce-reports-wide .submenu div.sort_options ul li:last-of-type {
        margin: 0; }
      .woocommerce-reports-wide .submenu div.sort_options ul li a {
        text-decoration: none; }
        .woocommerce-reports-wide .submenu div.sort_options ul li a.active {
          font-weight: bold;
          color: black; }

/*# sourceMappingURL=admin.css.map */
